<!DOCTYPE html>
<html lang="{{language.language_code}}">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link href="./css/main.css" type="text/css" rel="stylesheet">
    <title>{{core.question}}</title>
    <meta property="og:title" content="{{core.question}}">
    <meta property="og:description" content="{{core.answer}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{core.url}}">
    <meta property="og:image" content="{{core.url}}/api.php?format=image">
    <meta property="og:image:type" content="image/png">
</head>
<body>
<div id="tweet"></div>
<div id="top">{{core.question}}</div>
<div id="main">{{core.answer}}</div>
<div id="tweetembedded"></div>
<footer>
    <p>Made by <a target="_blank" href="https://twitter.com/manchmalfieber">@manchmalfieber</a><br>
        Extended by <a target="_blank" href="https://twitter.com/aledjonesworld">@aledjonesworld</a> &amp; <a
                target="_blank" href="https://twitter.com/DerAtrox">@DerAtrox</a><br>
        <a target="_blank" href="https://github.com/si0nDE/riechtjonasgeradekomisch">GitHub Source</a> &middot;
        v{{core.version}}</p>
    {{# admin.button }}<p><a href="admin/">{{language.admin.button_label}}</a></p>{{/ admin.button }}
</footer>
{{> scripts.default}}
</body>
</html>